/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

### Windows template
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### OSX template
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

